/* alap stílus kiegészítése*/
@import url('alap.css');

/*navigáció*/

nav ul a:nth-of-type(4):link {color:rgba(255,128,0,1.0); text-decoration:underline;}
nav ul a:nth-of-type(4):visited  {color:rgba(255,128,0,1.0); text-decoration:underline;}
nav ul a:nth-of-type(4):hover {color:rgba(255,128,0,1.0); text-decoration:underline;}
