/* alap stílus kiegészítése*/
@import url("alap.css");

/*navigáció*/

nav ul a:nth-of-type(5):link {
  color: rgba(48, 29, 10, 1);
  text-decoration: underline;
}
nav ul a:nth-of-type(5):visited {
  color: rgb(48, 29, 10);
  text-decoration: underline;
}
nav ul a:nth-of-type(5):hover {
  color: rgba(255, 128, 0, 1);
  text-decoration: underline;
}
